@import '../../index.less';

.list {
  &.rs-list {
    box-shadow: none;
  }

  .rs-list-item {
    box-shadow: none;
  }
  .rs-list-item-sm {
    padding-left: 8px;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      background: @list-hover-color;
    }
  }
}
