@import '../../../styles/root';

.panel-header {
  .rs-badge-wrapper {
    .rs-badge-content {
      background-color: transparent;
      transform: translate(100%, -20%);
      color: @badge-text-color;
    }
  }
}
