@import './mixins.less';

.scrollable-list(@maxHeight) {
  .scrolled-box();
  max-height: @maxHeight;

  &.rs-list {
    box-shadow: none;
  }

  .rs-list-item {
    box-shadow: none;
  }
  .rs-list-item-sm {
    .clip();
    padding: 4px 8px;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      background: @list-hover-color;
    }
  }
}
